@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Lobster&display=swap');

.navbar {
    position: fixed;
    padding: 0px;
    margin: 0;
    width: 100%;
    height: 50px;
    margin-bottom: 90px;
}

.navbar__links > a {
    text-decoration: none;
    color: white;
    margin-left: 13px;
}
.navbar__links > a:hover {
    color: rgb(207, 207, 207);
}

.navbar__title {
    color: #4447fa;
    margin-left: 20px;
    font-size: 42px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lobster', cursive;
    text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
}
.navbar__buttons {
    margin: 10px;
    padding: 10px 15px;
    min-width: 90px;
    text-align: center;
    border-radius: 20px;
    background-color: #4447fa;
}

.navbar__buttons:hover {
    opacity: 80%;
}

.navbar__cartbutton {
    margin: 0px 10px;
    background-color: #4447fa;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;

}

.navbar__cartbutton:hover {
    opacity: 80%;
}

.navbar__links{
display: flex;
align-items: center;
}

 svg {
     margin: 10px 0px 10px 10px;
  width: 30px;
  height: 25px;
}

.cart-div{
    display: flex;
}

.cart-counter {
    margin: 10px 10px 10px 0px ;
}

.order__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 200;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
}

.order-button {
    background-color: rgb(236, 164, 30);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.order-button>p{
    color: white;
    margin: 0px;
}

.order__nav__button {
    color: rgb(255, 255, 255);
    border: 2px solid rgba(88, 31, 31, 0.397);
    background-color: rgb(245, 65, 65);;
    font-weight: 600;
    height: 40px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
}

.order__nav__button:hover {
    opacity: 90%;
}

.order-div.show {
    transform: translateY(0);
}
.order-div{
    transform: translateY(-120%);
    transition: all 0.3s ease-out;
    margin: 60px;
   padding: 30px;
   position: absolute;
   width: 230px;
   border: 1px solid rgb(218, 218, 218);
   border-radius: 10px;
   background-color: rgb(255, 255, 255);
   display:  flex;
   flex-direction: column;

}

@media (max-width: 960px) {
    .navbar__title{
        font-size: 30px;
    }
    .navbar__buttons {
        margin: 5px;
        padding: 5px 10px;
        min-width: 90px;
        text-align: center;
        border-radius: 20px;
        height: 32px;
        background-color: #4447fa;
        font-size: 13px;
    }

    .order-div {
        transform: translateY(-220%);

        width: 500px;
        border: 1px solid rgb(71, 71, 71);
    }
    .order-button {
        font-size: 13px;
        background-color: rgb(236, 164, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 32px;
    }
    .cart-counter {
        display: none;
    }
    .cart-div{
        display: flex;
    }
    
    svg {
        margin: 5px 0px 5px 0px;
     width: 25px;
     height: 20px;
   }
        
}
@media (max-width: 610px) {
    .order-div {
        transform: translateY(-220%);

        width: 500px;
        border: 1px solid rgb(71, 71, 71);
        position: absolute;
    }
    .navbar__title{
        font-size: 20px;
    }
    .navbar__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        height: 30px;
        margin: 5px;
        padding: 5px 10px;
        min-width: 90px;
        text-align: center;
        border-radius: 20px;
        background-color: #4447fa;
    }
    .order-button {
        background-color: rgb(236, 164, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    
    .cart-counter {
        display: none;
    }
    .cart-div{
        display: flex;
    }
    
    svg {
        margin: 5px 0px 5px 0px;
     width: 25px;
     height: 20px;
   }
        
}
@media (max-width: 530px) {
    .order-div {
        transform: translateY(-220%);
        margin: 2px;
        width: 500px;
        height: 100vh;
        border: 1px solid rgb(71, 71, 71);
        position:relative;
        display: flex;
        justify-content: center;
    }
    .navbar__title{
        font-size: 20px;
    }
    .navbar__buttons {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 12px;
        height: 30px;
        margin: 1px;
        padding: 1px 3px;
        width: 40px;
        text-align: center;
        border-radius: 20px;
        background-color: #4447fa;
    }
    .order-button {
        background-color: rgb(236, 164, 30);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 30px;
    }
    
    .cart-counter {
        display: none;
    }
    .cart-div{
        display: flex;
    }
    
    svg {
        margin: 5px 0px 5px 0px;
     width: 25px;
     height: 20px;
   }
        
}